
 
  body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color:white;

    height: 100%;
  }
  .employer{
    height: 100%;
  }
 
  ul
  .navigation {
    position: relative;
    width: 100%;
    background-color: #d2dae2;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .navigation ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style: none;
    padding: 0;
  }
  
  .navigation ul li {
    position: relative;
    width: 70px;
    height: 70px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #ffffff;
  }
  
  .navigation ul li.active {
    color: white;
  }
  
  .navigation ul li.active .icon {
    background-color: #ffffff;
    color: #d2dae2;
    border-radius: 50%;
    padding: 10px;
  }
  
  .navigation ul li .icon {
    font-size: 24px;
    display: inline-block;
    margin-bottom: 5px;
  }
  
  .navigation ul li .text {
    font-size: 14px;
    font-weight: 500;
  }
  footer{
    
   margin-bottom: 0;
   background-color: white;
  }
  .content{
    height: 400px;
    background-color: white;
  }
 

