
.LR {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    perspective: 1200px; 
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px; 
    height: 600px; 
   
    transition: transform 0.8s ease-in-out;
    transform-style: preserve-3d;
    position: relative;
    margin:200px auto;

}


.LR {
    display: flex;
    box-shadow:0px 10px 15px rgba(0,0,0,1); 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    position: relative;

}
.Login-container, .Register {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
}
.Form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#h2 {
    text-align: center;
    margin-bottom: 15px;
    color: whitesmoke;
    font-family: jokerman;
    font-size: 50px;
    text-shadow: 0 0 10px cyan,
    0 0 0px cyan,0 0 40px cyan;
}

label {
    display: block;
    margin-bottom: 5px;
    width: 70%;
}

input,
select {
    width:  100%;
    padding: 10px;
    border: 1px solid rgb(0, 128, 128);
    border-radius: 3px;
    margin-bottom: 10px;
    box-sizing: border-box;
    text-align: left;
    background-color:rgba(255,255,255,0.4);
    backdrop-filter: blur(5px);
 
}
form input:focus,
form select:focus,
form textarea:focus {
    outline: none; 
    border-color: #007BFF;
    box-shadow: 0px 0px 4px #007BFF;
}

button {
    width: 100px;
    padding: 10px;
    background-color: rgb(0, 128, 128);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(0, 100, 100);
}




.Login-container {
    z-index: 2;
}

.Register {
    transform: rotateY(180deg); 
}

.LR.flipped {
    transform: rotateY(180deg); 
}





.toggle-link {
    cursor: pointer;
    text-align: center;
    color: blue;
    margin-top: 10px;
    text-decoration: underline;
}

.toggle-link:hover {
    color: rgb(0, 10, 100);
}
