/* Cardslider.css */
.container {
  width: 100%;
  margin: 5px auto;
  height: 100vh;
  padding: 20px;
  background-color: grey;
}
.carousel{
  height: 90vh;
}
.carousel .slide {
  text-align: center;
  height: auto; /* Increased height */
  background: #f4f4f4;
  border-radius: 12px;
}
.card-link{
  background-color: white;
}

.carousel .control-arrow {
  background: rgba(0, 0, 0, 0.2);
}

.carousel .control-dots {
  bottom: -30px;
}
.slider-wrapper{
  height: 50vh;
}
.card-item {
  text-align: center;
  background-color:white;
  margin-right: 9px;
  padding: 30px; /* Increased padding */
  border-radius: 12px;
  box-shadow: 0px 44px 60px rgb(128, 11, 206);
  height:90vh /* Ensures full height for each card */
}
.w{
  background-color: white;
}
.aa:hover{
  scale: 0.7;
  transform: rotate(10deg);
}
.badge {
  padding: 10px 15px; /* Increased padding */
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 15px;
  font-weight: bold;
  background-color: magenta;
}

.filters{
  color: grey;
  margin: 30px auto;
  padding: 30px;
}
.card-title {
  font-size: 1.5rem; /* Larger font size for title */
  margin-bottom: 15px;
  background-color: white;
}

.CB{
  background-color: magenta;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 5px;
  cursor: auto;
  font-size: 15px; /* Adjust icon size */
}
.CB:hover{
 transform: scale(0.9) rotateX(20deg);
}
